.headerContainer {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 0 2rem;
}

.header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}

.main {
  min-height: 100vh;
  padding: 0 0 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 0.75rem;
  color: #888;
}

.gridContainer {
  display: grid;
  grid-template-areas:
    'one one one two'
    'three three five five'
    'four four five five';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.5rem;
  width: 800px;
  height: 800px;
}

.gridTitle {
  margin: 0;
  line-height: 1.15;
}

.gridDescription {
  display: none;
  font-size: 0.75rem;
  opacity: 0;
}

.gridOne:hover .gridDescription,
.gridTwo:hover .gridDescription,
.gridThree:hover .gridDescription,
.gridFour:hover .gridDescription {
  display: block;
  opacity: 1;
}

.stack {
  flex: 1;
  flex-direction: column;
}

.gridOne,
.gridTwo,
.gridThree,
.gridFour,
.gridFive {
  display: flex;
  padding: 1.5rem;
  position: relative;
  transition: border 0.05s, background-position 0.5s;
  border: 4px solid rgb(40, 109, 241);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.gridOne:hover,
.gridTwo:hover,
.gridThree:hover,
.gridFour:hover,
.gridFive:hover {
  background-position: -3% 0%;
  cursor: pointer;
}

.gridOne {
  grid-area: one;
  align-items: flex-end;
  border: 4px solid #286df1;
}

.gridOne:hover {
  border: 16px solid #286df1;
}

.gridOne > .logo {
  opacity: 0;
  scale: 2;
  position: absolute;
  top: 64px;
  right: 64px;
  transition: all 0.1s;
}

.gridOne:hover > .logo {
  opacity: 1;
  top: 32px;
  right: 64px;
}

.gridTwo {
  grid-area: two;
  writing-mode: vertical-lr;
  align-items: flex-end;
  border: 4px solid #9e0059;
}

.gridTwo:hover {
  border: 16px solid #9e0059;
}

.gridThree {
  grid-area: three;
  align-items: flex-end;
  border: 4px solid #ff0054;
}

.gridThree:hover {
  border: 16px solid #ff0054;
}

.gridFour {
  grid-area: four;
  align-items: flex-end;
  border: 4px solid #ff5400;
}

.gridFour:hover {
  border: 16px solid #ff5400;
}

.gridFive {
  grid-area: five;
  align-items: flex-end;
  border: 4px solid #ffbd00;
}

.gridFive:hover {
  border: 16px solid #ffbd00;
}

.gridFive > .stack > p {
  margin-top: -16px;
  font-size: 0.75rem;
}

.gridFive > .stack {
  position: absolute;
  top: 32px;
  opacity: 0;
  transition: all 0.1s;
}

.gridFive:hover > .stack {
  opacity: 1;
  top: 0px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
